*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "微软雅黑";
    font-size: 14px;
}
#container{
    margin: 0 auto;
    width: 900px;
}
#header{
    height: 100px;
    background-image: url(../images/bar.jpg);
    margin-bottom: 5px;
}
#nav{
    height: 30px;
    background:#ccc;
    margin-bottom: 5px;
    font-size: 0;
    position: relative;
}
#login{
    display: inline-block;
    position: absolute;
    right: 0px;
    border-left: 1px solid;
}
#main{
    height: 500px;
    margin-bottom: 5px;
}
.aside{
    float: left;
    width: 100px;
    height: 500px;
    background: #6cf;
}
#aside1{

}
#aside2{
    margin-left: 5px;
}
#content{
    float: left;
    margin-left: 5px;
    width: 690px;
    height: 500px;
    background: #6cf;
}
#footer{
    height: 60px;
    background: #6cf;
}
#nav a{
    display: inline-block;
    width: 80px;
    height: 28px;
    border-right: 1px solid #000;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
}
#nav a:hover{
    color: white;
    background-color: #ccc;
    border: 1px solid;
    border-left-color:orange;
    border-top-color: orange;
    border-right-color: orange;
    border-bottom: 1px solid #ccc;
}