*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "微软雅黑";
    font-size: 14px;
}
#container{
    margin: 0 auto;
    width: 900px;
}
#header{
    height: 100px;
    background-image: url(../images/bar.jpg);
    margin-bottom: 5px;
}
#nav{
    height: 30px;
    background:#6cf;
    margin-bottom: 5px;
}
#main{
    height: 500px;
    margin-bottom: 5px;
}
.aside{
    float: left;
    width: 100px;
    height: 500px;
    background: #6cf;
}
#aside1{

}
#aside2{
    margin-left: 5px;
}
#content{
    float: left;
    margin-left: 5px;
    width: 690px;
    height: 500px;
    background: #6cf;
}
#footer{
    height: 60px;
    background: #6cf;
}