body{
    background-color: rgb(209, 233, 255);
}
#first{
    font-size: 60px;
    background-image: url(../img/OIP.jfif);
    background-repeat: no-repeat;
    width: auto;
    margin: 0 auto;
    text-align: center;
}
#url{
    background-color: rgb(126, 126, 255);
}