body{
    background-image: url(../img/img.svg);
    background-repeat: repeat;
    background-size: 100%;
    width: 100%;

}
#first{
    font-size: 60px;
    background-image: url(../img/head.svg);
    background-size: 100%;
    width: 100%;
    background-color: rgb(208, 233, 255);
   
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
#url{
    background-color: rgb(126, 126, 255);
}
.text{
   
    width: 520px;
    top: auto;
    position:relative;
    text-align: center;
    margin: auto;
    z-index: 1;
    top: 50px;
    font-family:sans-serif;
    font-size: 30px;
    
}
#a{
    font-size: 20px;
    background-color: rgb(191, 255, 231);
    top: 0;
   left: -286px;
    width: 200%;
    
    
}
.paragraph{
    word-break: keep-all;
}