*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../images/bar.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "微软雅黑";
    font-size: 14px;
}
#container{
    margin: 0 auto;
    width: 900px;
}
#header{
    height: 100px;
    background-image: url(../images/bar.jpg);
    margin-bottom: 5px;
}
#nav{
    height: 30px;
    background:#ccc;
    margin-bottom: 5px;
    font-size: 0;
    position: relative;
}
#login{
    display: inline-block;
    position: absolute;
    right: 0px;
    border-left: 1px solid;
}
#main{
    height: 1200px;
    margin-bottom: 5px;
}
.aside{
    float: left;
    width: 100px;
    height: 500px;
    background: rgb(179, 179, 179);
}
#aside1{
    height: 1200px;
}
#aside1 a{
    text-decoration: none;
}
#aside1 a:hover{
    color: white;
    text-decoration: underline;
}
#aside1 a:active{
    color: red;
}
#aside1 ul{
    list-style-type: none;
    margin: 50px 30px;
}
#aside1 li{
    line-height: 30px;
}
#aside2{
    height: 1200px;
    margin-left: 5px;
}
#content{
    border:2px rgb(154, 155, 139);
    float: left;
    margin-left: 5px;
    width: 690px;
    height: 1200px;
    background: rgb(255, 240, 190);
}
#footer{
    height: 60px;
    background: rgb(187, 187, 187);
    text-align: center;
}
#nav a{
    display: inline-block;
    width: 80px;
    height: 28px;
    border-right: 1px solid #000;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
}
#nav a:hover{
    color: white;
    background-color: #ccc;
    border: 1px solid;
    border-left-color:orange;
    border-top-color: orange;
    border-right-color: orange;
    border-bottom: 1px solid #ccc;
}
p{
    text-indent: 2em;
}
h2{
    text-align: center;
}
#fix-left{
    left: 50px;
    top: 150px;
}
#fix-right{
    top: 150px;
    right: 50px;
}
.fix{
    width: 200px;
    height: 400px;
    border: 2px rgb(44, 41, 41) solid;
    position: fixed;
    top: 50px;
}
.fix img{
    width: 200px;
    height: 400px;
}